<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.health.connect.client" />
    <!-- Read permissions for ACTIVITY -->
    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_DISTANCE" />
    <uses-permission android:name="android.permission.health.READ_ELEVATION_GAINED" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE" />
    <uses-permission android:name="android.permission.health.READ_FLOORS_CLIMBED" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_STEPS_CADENSE" />
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_SPEED" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" /> <!-- Read permissions for VITALS. -->
    <uses-permission android:name="android.permission.health.READ_BASAL_BODY_TEMPERATURE" />
    <uses-permission android:name="android.permission.health.READ_BODY_TEMPERATURE" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_OXYGEN_SATURATION" />
    <uses-permission android:name="android.permission.health.READ_RESPIRATORY_RATE" />
    <uses-permission android:name="android.permission.health.READ_RESTING_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE_ROUTES" />
    <queries>
        <package android:name="com.sec.android.app.shealth" />
    </queries>

    <application android:allowBackup="true">
        <activity
            android:name=".SamsungHealthPermissionsRationaleActivity"
            android:enabled="true"
            android:exported="true"
            android:label="Label Samsung SDK"
            android:theme="@style/Theme.RadarCommons"> <!-- Handle intent -->

        </activity>

        <meta-data
                android:name="com.samsung.android.health.permission.read"
                android:value="com.samsung.health.step_count" />
        <service android:name=".SamsungHealthService"  />

    </application>

</manifest>
